{% extends "base.html.twig" %}

{% block central %}
<!-- page start-->
<div class="col-12">
    <section class="panel">
        <div class="chat-room-head">
            <h3><i class="fa fa-angle-right"></i> Gérer les tournois</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr class="tableau-entete">
                    <th><i class="fa fa-bullhorn"></i> Numéro</th>
                    <th><i class="fa fa-calendar"></i> Année</th>
                    <th><i class="fa fa-bookmark"></i> Nom</th>
                    <th><i class="fa fa-users"></i> Participants</th>
                    <th><i class="fa fa-gamepad"></i> Jeu</th>
                    <th><i class="fa fa-desktop"></i> Plateforme</th>
                    <th><i class="fa fa-bookmark"></i> Format</th>
                    <th><i class="fa fa-bookmark"></i> Catégorie</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- formulaire pour ajouter un nouveau jeu vidéo-->
                <tr>
                </tr>
                <!--<?php
                foreach ($tbJeuxVideo as $jeuVideo) {
                ?>-->
                </tbody>
            </table>
        </div><!-- fin div panel-body-->
    </section><!-- fin section tournois-->
</div><!--fin div "col-12">

{% endblock %}
